html, body{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;

    /*pegando 100% da altura viewport height*/
    height: 100vh;
}

footer{
    margin-top: auto;
}

/* Alinhamentos, espaçamentos, larguras e alturas */
header, main, footer{
    text-align: center;
}

.donors{
    display: grid;
    /*Cria 4 colunas flexivel*/
    grid-template-columns: 1fr 1fr 1fr 1fr; 
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header, .form, main{
    /* Espaçamentos com margin */
    margin: 0 auto 70px;

    /* Limites dos elementos na página */
    width: 90%;
    max-width: 500px;
}

header h1, main h2{
    margin-bottom: 70px;
}